* {
  /* font-family: roboto mono; */
  font-family: Oxygen;
  /* border: 2px solid #dedede; */
  padding: 5px;
  margin: 8px;
}

hr {
  padding: 0px;
  margin: 0px;
}

.change {
  background-color: lightgreen;
  font-size: 100px;
}

code {
  color: #000000c5;
  background-color: #eee;
  border-radius: 3px;
  font-family: "Fira Code", monospace;
  padding: 0 3px;
}

.title {
  font-family: "DM Serif Text", serif;
  text-transform: capitalize;
  font-weight: bold;
}

.p-description {
  color: rgb(105 105 105);
}

#firstDiv {
  border: solid 1px;
  border-radius: 2em;
  /* background-color: #4d3ef9; */
  color: rgb(93, 83, 69);
  border-radius: 0.25em;
  max-width: 200px;
}

button {
  font-family: "DM Serif Text", serif;
  background-color: #4d3ef9;
  color: blanchedalmond;
  border-radius: 3em;
  border-color: white;
}

body {
  /* max-width: 600px; */
  font-family: sans-serif;
  color: #4d3ef9;
  /*#333;*/
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: gray;
  text-align: center;
}

a {
  color: gray;
  text-decoration: none;

}

a:hover {
  color: #4d3ef9;
}